.bg-img {
    background-image: url('../images/bg.png');
    width: 100%;
    min-height: 560px;
    background-repeat: repeat;
    background-size: cover;
    padding-top: 300px;

}

.text-wrapper {
    text-align: center;
    display: block;

}

.text-lozung {
    font-size: 35px;
    font-weight: 900;
    line-height: 59px;
    color: white;
}

.text-main {
    background-color: rgba(22, 24, 32, 0.68);
    width: 280px;
}


.text-description {
    font-family: $p-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.2px;
    padding-bottom: 11px;
    color: white;
    padding-top: 8px;

}

.text-description-item {
    font-family: $p-font;
    font-size: 16px;
    font-weight: 700;
    color: $yellow-color;

}

.text-btn {
    background-image: url('../images/scroll_down.png');
    height: 19px;
    width: 13px;
    display: block;
    margin: 0 auto;
    margin-top: 60px;
}


@media (min-width:768px) {


    .bg-img {
        background-image: url('../images/bg_tablet.png');
        min-height: 600px;
        padding-top: 300px;
    }

    .text-main {
        margin: 0 auto;
        margin-top: 15px;
        width: 440px;

    }



    .text-lozung {
        font-size: 45px;
        font-weight: 900;
        line-height: 59px;

    }

    .text-description {
        font-size: 27px;
        line-height: 30px;
        letter-spacing: 1.7px;
        padding-top: 12px;
        font-weight: 300;


    }

    .text-description-item {
        font-size: 27px;
        font-weight: 400;
    }

    .text-btn {
    
    }
}


@media (max-width:1299px) {
    .menu:hover .text-wrapper {
        position: static;
        display: none;
    }
}

@media (min-width:1300px) {
    .bg-img {
        background-image: url('../images/bg_full.png');
        min-height: 948px;
        width: 100%;

        padding-top: 540px;

    }

    .text-lozung {
        margin-left: 40px;
        text-align: left;
        font-size: 65px;
        font-weight: 900;
        line-height: 59px;

    }

    .text-main {
        margin: 0 40px;
        margin-top: 30px;
        width: 495px;
        min-height: 100px;
    }

    .text-description {

        font-size: 25px;
        line-height: 38px;
        font-weight: 300;
        padding-top: 12px;
        padding-left: 64px;
        padding-right: 30px;
        letter-spacing: 1px;
        position: relative;
    }

    .text-description::before {
        display: block;
        content: '';
        position: absolute;
        top: 22px;
        left: 40px;
        background-color: $yellow-color;
        height: 60px;
        width: 4px;
    }


    .text-description-item {

        font-size: 25px;
        font-weight: 500;

    }

    .text-btn {
        margin-top: 120px;
    }
}