.footer {
    background-color: rgb(28, 28, 28);
}

.footer-container {
    width: 192px;
    margin: 0 auto;
    position: relative;
}

.footer-logo {
    display: block;
    width: 100px;
    height: 24px;
    cursor: pointer;
    margin-bottom: 14px;
}

.footer__address,
.footer__contact {
    font-family: $p-font;
    color: $footer-color;
    font-size: 14px;
    letter-spacing: 0.56px;
    line-height: 25px;
    margin-bottom: 22px;
}
.footer__address--span{
    color: $footer-color;
}

.footer__contact--link {
    color: $footer-color;
}

.footer-btn {
    width: 192px;
    height: 42px;
    border-radius: 5px;
    background-color: rgb(252, 174, 38);
    color: white;
    font-family: $p-font;
    font-weight: 700;
    font-size: 16px;
    padding-top: 10px;
    text-align: center;
    margin-bottom: 34px;
}

.footer-btn--hover:hover,
.footer-btn--hover:focus {
    box-shadow: 0px 3px 5px 0px rgba(252, 174, 38, 0.4);
}

.footer__address--span {
    display: block;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 32px;
}

.footer-social-list__item {
    position: relative;
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

.footer-social-list__link {
    display: block;
    width: 100%;
    height: 100%;
}

.footer-social-list__item:not(:last-child) {
    margin-right: 18px;
}

.footer__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 18px;
    height: 18px;
    fill: #ffffff;

    &--twitter {
        background-color: #3d99e3;
    }

    &--facebook {
        background-color: #2e4d72;
    }

    &--youtube {
        background-color: #ba1f2e;
    }
}

.footer-bottom {
    background-color: #0d0d0d;

    &__span {
        font-size: 12px;
        font-family: $h-font;
        color: rgb(98, 98, 99);
        letter-spacing: 0.56px;
        line-height: 25px;
    }

    &-link {
        display: block;
        text-decoration: none;
    }

    &-box {
        padding: 18px 0;
    }
}

.anchor__icon {
    width: 14px;
    height: 14px;
    fill: #ffffff;
}

.footer-main-anchor {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background-color: #333333;
    cursor: pointer;
    box-shadow: 0px 7px 12px 0px rgba(51, 51, 51, 0.5);
}

.footer {
    padding-bottom: 0;
}

@media (max-width: 767px) {

    .footer-main-anchor,
    .anchor__icon {
        display: none;
    }
}

@media (min-width: 768px) {
    .footer {
        padding-bottom: 0;

        &-container {
            width: 620px;
        }

        &-container-box {
            display: flex;
            justify-content: space-between;
        }

        &__contact-box {
            display: flex;
        }

        &-bottom-box {
            display: flex;
            justify-content: space-between;
            width: 566px;
        }
    }
}

@media (min-width:768px) and (max-width: 1299px) {
    .footer__contact-box {
        flex-direction: column;
        align-items: center;
    }

    .footer-main-anchor {
        top: 0;
        right: 0;
        transform: translate(50%, -100%);
    }
}

@media (min-width: 1300px) {
    .footer {
        padding-bottom: 0;
        position: relative;

        &-container {
            width: 1152px;
            position: static;
        }

        &__contact-box {
            width: 518px;
            justify-content: space-between;
        }

        &-bottom-box {
            width: 634px;
        }

        &-main-anchor {
            bottom: 0;
            right: 0;
            transform: translate(-60%, -90%);
        }
    }
}
@media (min-width: 1680px) {
    .footer {
        position: static;

        &-container {
            width: 1152px;
            position: relative;
        }

        &-main-anchor {
            bottom: 136px;
            right: -142px;
            transform: translate(-60%, -90%);
        }
    }
}