.header {
    position: absolute;
    top: 0;
    min-height: 560px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);

    .container {
        display: flex;
        justify-content: space-between;
    }
}

.menu {
    background-image: url('../images/buger.png');
    width: 30px;
    height: 20px;
    margin-top: 30px;

    &-dropdown {
        display: none;
        top: 0;
        left: 0;
        position: absolute;
        background-color: #824fe3;
        width: 100vw;
        height: 100%;
        



        &::before {
            content: "";
            background-image: url('../images/goiteens_logo-01.svg');
            width: 110px;
            height: 35px;
            display: none;
            background-position: center;
            object-fit: cover;
            background-repeat: no-repeat;
            margin-top: 22px;
            margin-left: 15%;
        }

        &::after {
            content: "";
            background-image: url('../images/close.svg');
            width: 24px;
            height: 24px;
            display: none;
            background-position: center;
            object-fit: cover;
            background-repeat: no-repeat;
            top: 28px;
            right: 15%;
            position: absolute;
        }
    }

    &:hover .menu-dropdown {
        display: block;
    }

    &:hover .menu-dropdown::before {
        display: block;
    }

    &:hover .menu-dropdown::after {
        display: block;
    }


    &__btn {
        display: block;
        margin: 20px auto;
        box-shadow: 0 5px 5px rgba($color: #461a97, $alpha: 0.5);
        background-color: #f39313;

        @extend %button;
    }
}

.main-nav__list{
    width: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;


    &-link {
        text-transform: capitalize;
        text-align: center;
        position: relative;
        padding-bottom: 10px;
        font-size: 28px;
        color: white;
        font-family: $p-font;
        font-weight: bold;
    }

    &-item {

        &:after {
            content: "";
            width: 100%;
            height: 2px;
            background-color: $yellow-color;
            display: block;
            margin: 0 auto;
            visibility: hidden;
            margin-top: 6px;
        }
         &:hover:after {
        visibility: visible;
    }
    }

   

}


.menu-dropdown::after:focus .menu-dropdown {
    display: none;
}

@media (min-width: 768px) {
    .header {
        min-height: 600px;
    }

    .main-nav__list {
        padding-top: 120px;
    }
}

@media (min-width: 1300px) {
    .header {
        min-height: 90px;

        .container{
            width: 100%;
        }
    }

    
    .logo{
        margin-top: 14px;
        margin-left: 50px;
    }

    .menu {
        margin-right: 50px;
        display: flex;
        justify-content: flex-end;
        background-image: none;
        width: 100%;
        min-height: 42px;

        &-dropdown {
            margin: 0;
            position: static;
            background-color: transparent;
            width: 1020px;
            display: flex;
            justify-content: space-between;

            &::before {
                display: none;
            }

            &::after {
                display: none;
            }

        }
        &:hover{
            //width: 100%;
            margin: 0;
        }

        &:hover .menu-dropdown::before {
            display: none;
        }

        &:hover .menu-dropdown::after {
            display: none;
        }

        &__btn {
            box-shadow: none;
            margin: 0;

        }
    }

    .main-nav {
        width: 774px;

        &__list {
            padding: 0;
            margin-top: 10px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            &-link {
                padding-bottom: 0px;
                font-size: 18px;
            }
        }
    }
}