.header {
    position: absolute;
    top: 0;
    min-height: 560px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);

    .container {
        display: flex;
        justify-content: space-between;
    }
}
.header__logo-link{
    z-index: 3;
}

.menu {
    background-image: url('../images/buger.png');
    width: 30px;
    height: 20px;
    margin-top: 30px;

    &-dropdown {
        top: 0;
        left: 0;
        position: absolute;
        background-color: #824fe3;
        width: 100vw;
        height: 100%;

        transform: translateY(-100%);
        transition: transform .3s ease-in-out;
        z-index: 2;



        &::before {
            content: "";
            background-image: url('../images/goiteens_logo-01.svg');
            width: 110px;
            height: 35px;
            background-position: center;
            object-fit: cover;
            background-repeat: no-repeat;
            margin-top: 22px;
            margin-left: 15%;
        }

        &-btn {
            content: "";
            background-image: url('../images/close.svg');
            width: 24px;
            height: 24px;
            background-position: center;
            object-fit: cover;
            background-repeat: no-repeat;
            top: 28px;
            right: 15%;
            position: absolute;
        }
    }



    &__btn {
        display: block;
        margin: 20px auto;
        box-shadow: 0 5px 5px rgba($color: #461a97, $alpha: 0.5);
        @extend %button;
        padding-top: 10px;
        text-align: center;
    }
}

.visible {
    transform: translateY(0);
}

.main-nav__list {
    width: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;


    &-link {
        text-transform: capitalize;
        text-align: center;
        padding-bottom: 10px;
        font-size: 28px;
        color: white;
        font-family: $p-font;
        font-weight: bold;

    }

    &-item {
        cursor: pointer;

        &:after {
            content: "";
            width: 100%;
            height: 2px;
            background-color: $yellow-color;
            display: block;
            margin: 0 auto;
            visibility: hidden;
            margin-bottom: 6px;
        }

        &:hover:after {
            visibility: visible;
        }

    }


}

.header__logo-link {
    margin-top: 30px;

}











@media (min-width: 768px) {
    .header {
        min-height: 600px;
    }

    .main-nav__list {
        padding-top: 120px;
    }
}


@media (min-width: 1300px) {
    .header {
        min-height: 90px;

        .container {
            width: 100%;
        }
    }


    .logo {
        margin-top: 14px;
        margin-left: 50px;
    }

    .menu {
        display: none;

        &-dropdown {
            margin: 30px 30px 0 0;
            position: static;
            background-color: transparent;
            width: 1020px;
            display: flex;
            justify-content: space-between;
            min-height: 42px;
            transform: translateY(0%);


            &::before {
                display: none;
            }

            &-btn {
                display: none;
            }

        }

        &:hover .menu-dropdown {
            display: flex;
        }

        &:hover .menu-dropdown::before {
            display: none;
        }

        &:hover .menu-dropdown::after {
            display: none;
        }

        &__btn {
            box-shadow: none;
            margin: 0;

        }
    }

    .main-nav {
        width: 774px;

        &__list {
            padding: 0;
            margin-top: 10px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            &-link {
                padding-bottom: 0px;
                font-size: 18px;
            }

            &-item {

                &:after {

                    margin-bottom: 0;
                    margin-top: 6px;
                }
            }
        }
    }
}

@media (min-width: 1680px) {
    .header .container {
        width: 1680px;
    }
}