@mixin animation($content) {
    animation: $content;
    -moz-animation: $content;
    -webkit-animation: $content;
  }
  
  @mixin keyframes($name) {
    @keyframes #{$name} { @content; }
    @-moz-keyframes #{$name} { @content; }
    @-webkit-keyframes #{$name} { @content; }
  }